body {
  background-color: rgb(201, 199, 199);
}
.centerfold {
  display: flex;
  height: 1100px;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#board {
  background-color: white;
  border: solid black;
  width: 700px;
  height: 700px;
  display: grid;
}
.buttons {
  display: flex;
  margin: 16px;
  gap: 16px;
  justify-content: center;
}
.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 16px;
  font-weight: bolder;
  font-size: larger;
}
